# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.log
# db.sqlite3 / WE INCLUDING IT FOR NOW FOR TESTING PURPOSES
# media / WE INCLUDING IT FOR NOW FOR TESTING PURPOSES

# Editor files
.vscode/
.idea/
*.swp

# Environment files
.env
.env.*
